<!DOCTYPE html>
<html ng-app="todoApp">
<head>
 <title>To-Do List App</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
 <script>
 angular.module('todoApp', [])
 .controller('TodoController', function ($scope) {
 // Default tasks
 $scope.tasks = ['Task 1', 'Task 2', 'Task 3'];
 $scope.addTask = function () {
 if ($scope.newTask) {
 $scope.tasks.push($scope.newTask);
 $scope.newTask = '';
 }
 };
 $scope.editTask = function (index) {
 var editedTask = prompt('Edit task:', $scope.tasks[index]);
 if (editedTask !== null) {
 $scope.tasks[index] = editedTask;
 }
 };
 $scope.deleteTask = function (index) {
 var confirmDelete = confirm('Are you sure you want to delete this task?');
 if (confirmDelete) {
 $scope.tasks.splice(index, 1);
 }
 };
 });
 </script>
 
 <style>
 ul {
 list-style: none;
 padding: 20;
 }
 li {
 margin-bottom: 5px;
 }
 </style>
</head>
<body ng-controller="TodoController">
 <h1>To-Do List</h1>
 <form ng-submit="addTask()">
 <input type="text" ng-model="newTask" placeholder="Add new task" required>
 <button type="submit">Add</button>
 </form>
 <ul>
 <li ng-repeat="task in tasks">
 <span>{{task}}</span>
 <button ng-click="editTask($index)">Edit</button>
 <button ng-click="deleteTask($index)">Delete</button>
 </li>
 </ul>

</body>
</html>